<!DOCTYPE html>
<html lang="en">
{{template "head.html" .}}
 <body>
   <div class="container-fluid">

     <!-- navigation -->
     <!-- /navigation -->
     
     <!-- alert page message -->
{{template "alert.html" .}}
     <!-- /alert page message -->

     <!-- content (outer) -->
     <div class="row">
       <div class="col-xs-1 col-md-1"></div>
       <div class="clearfix visible-xs-block"></div>
       <div class="col-xs-10 col-md-10">

	 <!-- content (inner) -->
	 <div class="row">
	   <div class="col-xs-10 col-md-10">
	     
	     <form class="form-inline" method="post" action="/login">
               <div class="form-group">
                 <label class="sr-only" for="sessionCode">Your decrypted access code</label>
                 <div class="input-group">
                   <div class="input-group-addon"><i class="fa fa-code"></i></div>
                   <input type="text" class="form-control" id="sessionCode" name="sessionCode">
                 </div>
                 <button type="submit" class="btn btn-primary">Go <i class="fa fa-sign-in"></i></button>
               </div>
             </form>

	   </div>
	 </div>
	 <!-- /content (inner) -->

       </div>
     </div>
     <!-- /content (outer) -->

   </div>
   <!-- /container -->

{{template "scripts.html"}}
   <script type="text/javascript">
$(function(){
    $("#sessionCode").focus();
});      
   </script>   
 </body>
</html>
