 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="TeamWork.io is an encrypted message hub, a public bulletin board where you can post hidden messages to anyone, both individuals, or teams of people simultaneously, readable by only you and them." />
  <meta name="author" content="Banrai LLC" />
  <link rel="icon" href="/images/favicon.ico">
  <title>{{.Title}}</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link href="/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/css/chosen.min.css" rel="stylesheet" />
  <link href="/css/ui.min.css" rel="stylesheet" />
 </head>
