<!DOCTYPE html>
<html lang="en">
{{template "head.html" .}}
 <body>
   <div class="container">

     <!-- navigation -->
{{template "navigation.html" .}}
     <!-- /navigation -->

     <div class="row">
       <div class="col-xs-1 col-md-1"></div>
       <div class="clearfix visible-xs-block"></div>
       <div class="col-xs-10 col-md-10">
         <div class="alert alert-info alert-dismissible" role="alert">
           <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
           <i class="fa fa-exclamation-circle" aria-hidden="true"></i> <a href="https://github.com/Banrai/TeamWork.io/issues" target="_blank">Please suggest ways</a> this page can be extended and improved
         </div>
       </div>
     </div>
     
     <!-- content (outer) -->
     <div class="row">
       <div class="col-xs-1 col-md-1"></div>
       <div class="clearfix visible-xs-block"></div>
       <div class="col-xs-10 col-md-10">

	 <!-- content (inner) -->

	 <div class="row">
	   <div class="col-lg-8">
	     <h3 id="create-key"><i class="fa fa-circle-o help" aria-hidden="true"></i> How to Create a Public Key</h3>
	     <p>
	       Use <a href="https://www.gnupg.org/" target="_blank">GnuPG</a> to generate a set of public and private keys, with the <a href="https://gnupg.org/gph/en/manual/c14.html#AEN25" target="_blank">gpg --gen-key</a> command.
	     </p>
	     <p>
	       Make sure to choose at least 4096 bits for the keysize, and use a reasonable expiration interval, as in this example:
	       <pre class="terminal">$ gpg --gen-key
gpg (GnuPG) 1.4.18; Copyright (C) 2014 Free Software Foundation, Inc.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

Please select what kind of key you want:
   (1) RSA and RSA (default)
   (2) DSA and Elgamal
   (3) DSA (sign only)
   (4) RSA (sign only)
Your selection? 1
RSA keys may be between 1024 and 4096 bits long.
What keysize do you want? (2048) 4096
Requested keysize is 4096 bits
Please specify how long the key should be valid.
         0 = key does not expire
      <n>  = key expires in n days
      <n>w = key expires in n weeks
      <n>m = key expires in n months
      <n>y = key expires in n years
Key is valid for? (0) 6m
Key expires at Wed 24 May 2017 07:33:40 PM EDT
Is this correct? (y/N) y

You need a user ID to identify your key; the software constructs the user ID
from the Real Name, Comment and Email Address in this form:
    "Heinrich Heine (Der Dichter) &lt;heinrichh@duesseldorf.de&gt;"

Real name: Sherlock Holmes
E-mail address: sholmes@example.org
Comment: 
You selected this USER-ID:
    "Sherlock Holmes &lt;sholmes@example.org&gt;"

Change (N)ame, (C)omment, (E)-mail or (O)kay/(Q)uit? o
You need a Passphrase to protect your secret key.
&lt;type your passphrase&gt;</pre>
	     </p>
	     <p><a href="https://gnupg.org/gph/en/manual/x56.html" target="_blank">Export the public key</a> with the <a href="https://gnupg.org/gph/en/manual/r1290.html" target="_blank">armor</a> option, to create a plain ASCII text version:
	       <pre class="terminal">$ gpg --export --armor sholmes@example.org > sholmes@example.org.public.asc</pre>
	     </p>
	     <p>
	       The ASCII-armored text file (&quot;<i>sholmes@example.org.public.asc</i>&quot; in the example) is what you should use to <a href="/upload">upload</a> to this site.
	     <p>
	       <strong><i>Never</i></strong> share your private keys with anyone.
	     </p>
	     <p>
	       Making subkeys, along with some of the other advice <a href="https://alexcabal.com/creating-the-perfect-gpg-keypair/" target="_blank">described here</a>, is recommended.
	     </p>
	   </div>
	 </div>

	 <div class="row">
	   <div class="col-lg-8">
	     <h3 id="gpg-versions"><i class="fa fa-circle-o help" aria-hidden="true"></i> Obtaining and Running GnuPG</h3>
	     <p>
	       GnuPG is <a href="https://www.gnupg.org/download/index.html" target="_blank">available for multiple operating systems</a>, and there are also some good guides here:
	     </p>
	       <ul>
		 <li><a href="https://ssd.eff.org/en/module/how-use-pgp-mac-os-x" target="_blank">PGP for Mac OS X</a></li>
		 <li><a href="https://ssd.eff.org/en/module/how-use-pgp-windows" target="_blank">PGP for Windows</a></li>
		 <li><a href="https://guardianproject.info/code/gnupg/" target="_blank">GnuPG for Android</a></li>
	       </ul>
	     <p>
	       Remember, <strong><i>never</i></strong> share your private keys with anyone.
	     </p>
	   </div>
	 </div>

	 <div class="row">
	   <div class="col-lg-8">
	     <h3 id="decrypt-session"><i class="fa fa-circle-o help" aria-hidden="true"></i> How to use the session information</h3>
	     <p>
	       <a href="/session">Creating a new session</a> results in an email with the subject line &quot;<strong>Your TeamWork.io session</strong>&quot; and an armored text attachment.
	     </p>
	     <p>
	       Decrypting the attached message results in a list of six random words, which need to be copied into the <a href="/confirm">session confirmation form</a> to take effect.
	     </p>
	     <p>
	       Use the <a href="https://gnupg.org/gph/en/manual/r669.html" target="_blank">gpg --decrypt</a> command, as in this example (the trailing awk statement just adds a few carriage returns so that the decryption result can be read more easily):
	       <pre class="terminal">$ gpg --decrypt ~/Downloads/TeamWork.io-session-2016-11-27T19_07_21Z.asc | awk -F/ '{printf "%s\n\n", $NF}'

You need a passphrase to unlock the secret key for
user: "Sherlock Holmes &lt;sholmes@example.org&gt;"
4096-bit RSA key, ID 17748D44, created 2016-10-15 (main key ID DCCEC2A5)

Enter passphrase: &lt;type your passphrase&gt;

gpg: encrypted with 4096-bit RSA key, ID 17748D44, created 2016-10-15
      "Sherlock Holmes &lt;sholmes@example.org&gt;"
versifies resume's wees portentously mollify Shasta's</pre>
	     </p>
	     <p>
	       For this example,
	     </p>
	     <p>
	       <strong>versifies resume's wees portentously mollify Shasta's</strong>
	     </p>
	     <p>
	       are the words to copy into the <a href="/confirm">session confirmation form</a>.
	     </p>
	   </div>
	 </div>

	 <div class="row">
	   <div class="col-lg-8">
	     <h3 id="decrypt-message"><i class="fa fa-circle-o help" aria-hidden="true"></i> How to decrypt a message</h3>
	     <p>
	       Similar to the process for <a href="#decrypt-session">decrypting the session information</a>, use the <a href="https://gnupg.org/gph/en/manual/r669.html" target="_blank">gpg --decrypt</a> command on the downloaded message.
	     </p>
	     <p>
	       For long messages, skipping the trailing awk is advisable, since it adds unwanted newlines in between, though the end of the message will get jammed up against the next prompt, as in this example:
	     </p>
	     <p>
	       <pre class="terminal">$ gpg --decrypt ~/Downloads/0450e6fc-fd68-4c4c-9c5a-9d68c80a57e9.asc 

You need a passphrase to unlock the secret key for
user: "Sherlock Holmes &lt;sholmes@example.org&gt;"
4096-bit RSA key, ID 17748D44, created 2016-10-15 (main key ID DCCEC2A5)

Enter passphrase: &lt;type your passphrase&gt;

gpg: encrypted with 4096-bit RSA key, ID 17748D44, created 2016-10-15
      "Sherlock Holmes &lt;sholmes@example.org&gt;"
Hello Watson,
This is a secret message for you.
Sherlock$</pre>
	     </p>
	     <p>
	       Thus the decrypted message text for this example is:
	     </p>
	     <p>
	       <strong>Hello Watson,<br />
This is a secret message for you.<br />
Sherlock</strong>
	     </p>
	   </div>
	 </div>
	 
	 <!-- /content (inner) -->

       </div>
     </div>
     <!-- /content (outer) -->
     
   </div>
   <!-- /container -->

{{template "scripts.html" .}}
   <script src="/js/navigation.min.js"></script>
 </body>
</html>
