<div class="row">
  <div class="col-xs-1 col-md-1"></div>
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-10 col-md-10">
    <ul class="nav nav-tabs" role="tablist">
      <li><a class="sessionLink" href="/"><span style="color:red"><i class="fa fa-circle-o" aria-hidden="true"></i></span> TeamWork.io</a></li>
      <li><a class="sessionLink" href="/addpost"><i class="fa fa-commenting-o" aria-hidden="true"></i> New Post</a></li>
      <li><a class="sessionLink" href="/posts"><i class="fa fa-comments" aria-hidden="true"></i> All Posts</a></li>
<!--      
      <li class="active"><a href="/keys"><i class="fa fa-key" aria-hidden="true"></i> Keys</a></li>
-->
    </ul>
  </div>
</div>
{{if .Session.Id}}
{{if .Person.Id}}
<form id="navSession" method="post">
  <input type="hidden" name="session" value="{{.Session.Id}}">
  <input type="hidden" name="person" value="{{.Person.Id}}">
</form>
{{end}}
{{end}}
